<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Annie's Taipei</h1>

  <div id="festival-map"></div>
  

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWx64vRgus83CEFilGOnmi_dJH-TJU0UE&sensor=true"></script>
</body>

</html>